.App {
  text-align: center;
}

#reset,
#plus,
#minus {
  padding: 1rem;
  border-radius: 5px;
}
#count {
  color: rgb(0, 234, 255);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
#plus {
  color: green;
}
#minus {
  color: brown;
}
#reset {
  color: red;
}
